body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('background-image.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.container {
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Todo-app {
    width: 100%;
    max-width: 540px;
    background: bottom;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    position: absolute;
    left: 300px;
    top: 100px;
}
.Todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.Todo-app h2 img {
    width: 30px;
    margin-left: 10 px;
}
h1 {
    text-align: center;
    font-family: math;
    font-size: 40px;
    text-decoration: underline;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
li.low{
    background-color: #7eff7a;
    /* Green */
}
li.medium {
    background-color: #ffdc7a;
    /* Orange */
}
li.high {
    background-color: #ff7a7a;
    /* Red */
}
li.done {
    text-decoration: line-through;
}
li span {
    flex-grow: 1;
}
li button {
    margin-left: 5px;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
button{
    border: none;
    outline: none;
    padding: 8px 20px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 100px;
}
select{
    
        color: black;
        background-color: white;
        height: 30px;
        border-radius: 7px;
        text-align: center;
        margin-left: 10px;
}
